%nav
    <button title="Previous slide" id="nav-prev" class="nav-prev">&#8701;</button> 
    <button title="Jump to a random slide" id="slide-no">5</button> 
    <button title="Next slide" id="nav-next" class="nav-next">&#8702;</button>
    %menu
        <button type="checkbox" data-command="toc" title="Table of Contents" class="toc">TOC</button>
        <button type="checkbox" data-command="notes" title="View Slide Notes">&#9999;</button>
        <button type="checkbox" data-command="source" title="View slide source">&#8635;</button>
        <button type="checkbox" data-command="help" title="View Help">?</button>